<div class="container">

  <div class="barcontainer">

    <h1>Zamówienie z {{orderPack.restaurantName}}</h1>
    <ul class="progressbar">
      <li [ngClass]="{'active': orderPack.orderStatusId > 0}" (click)="setStatus(1)">Otwarte</li>
      <li [ngClass]="{'active': orderPack.orderStatusId > 1}" (click)="setStatus(2)">Zamknięte</li>
      <li [ngClass]="{'active': orderPack.orderStatusId > 2}" (click)="setStatus(3)">Zamówione</li>
      <li [ngClass]="{'active': orderPack.orderStatusId > 3}" (click)="setStatus(4)">Dostarczone</li>
      <li [ngClass]="{'active': orderPack.orderStatusId > 4}" (click)="setStatus(5)">Opłacone</li>
    </ul>
  </div>

  <div class="row">

    <div class="col-70">

      <h3>Link do składania zamówień:</h3>
      <input type="url" value="{{urlNewOrder}}" readonly #urlToNewOrder>
      <button (click)="copy(urlToNewOrder)"><i class="far fa-copy"></i> Kopiuj</button>
      <button class="orderbtn" [routerLink]="['/orderpacks/',orderPack.id,'order']"><i
          class="fas fa-angle-double-right"></i> Też zamów</button>

      <div class="contain-card" *ngFor="let orderHead of orderHeads">
        <h3>{{orderHead.userId}}</h3>
        <div *ngFor="let orderItem of orderHead.orderItems">
          <p>{{orderItem.ownOrder}} za {{orderItem.amount}}</p>
        </div>
        <p>{{orderHead.comment}}</p>
        <label><input type="checkbox"> Zapłacone</label>
      </div>
    </div>

    <div class="col-30">
      <div class="contain">
        <h4>Zamówienia <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i></span></h4>
        <table>
          <tr>
            <td><a href="#">Butter Chicken</a></td>
            <td>1</td>
            <td><span class="price"> $15</span></td>
          </tr>
          <tr>
            <td><a href="#">Chicken Tikka Masala</a></td>
            <td>1</td>
            <td><span class="price"> $5</span></td>
          </tr>
          <tr>
            <td><a href="#">Chicken Palak</a></td>
            <td>1</td>
            <td><span class="price"> $8</span></td>
          </tr>
          <tr>
            <td><a href="#">Kadai Vegetable</a></td>
            <td>1</td>
            <td><span class="price"> $2</span></td>
          </tr>
          <tr>
            <td><a href="#">+ ryż</a></td>
            <td>2</td>
            <td><span class="price"> $2</span></td>
          </tr>
          <tr>
            <td><a href="#">+ chlebek</a></td>
            <td>2</td>
            <td><span class="price"> $2</span></td>
          </tr>
        </table>
        <hr>
        <p>Razem <span class="price" style="color:black"><b>$30</b></span></p>
        <p>Sztuk <span class="price" style="color:black"><b>5</b></span></p>
      </div>
    </div>

  </div>

</div>