<div class="container">
  <h1>Zamówienie z {{orderPack.restaurantName}} w statusie {{orderPack.orderStatusName}}</h1>
  <div class="row">
    
    <div class="col-75">
      <div class="card">
        <div class="card-content">
          <p><span>Chris Fox.</span> CEO at Mighty Schools.</p>
          <p>John Doe saved us from a web disaster.</p>
        </div>
      </div>
    </div>

    <div class="col-25">
        <div class="contain">
            <h4>Zamówienia <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i></span></h4>
            <p><a href="#">Product 1</a> <span class="price">$15</span></p>
            <p><a href="#">Product 2</a> <span class="price">$5</span></p>
            <p><a href="#">Product 3</a> <span class="price">$8</span></p>
            <p><a href="#">Product 4</a> <span class="price">$2</span></p>
            <hr>
            <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
          </div>
    </div>

  </div>
</div>
