<div id="fg{{foodGroup.id}}fi{{foodItem.id}}" class="modal">
    <span (click)="noneModalFi(foodGroup.id, foodItem.id);" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/action_page.php">
      <div class="container">
        <h3>{{foodItem.name}}</h3>
        <hr>
        <label for="name"><b>Nazwa</b></label>
        <input [(ngModel)]="foodItem.name" name="name" type="text" placeholder="Nazwa" class="form-control" required>
        <label for="name"><b>Opis</b></label>
        <input [(ngModel)]="foodItem.description" name="description" type="text" placeholder="Opis" class="form-control" >
        <label for="name"><b>Cena</b></label>
        <input [(ngModel)]="foodItem.price" name="price" type="text" placeholder="Cena" class="form-control" required>
        <hr>
        <label>
          <input type="checkbox" [(ngModel)]="foodItem.enabled" name="enabled" class="custom-control-input" id="enabled">
          Pozycja niedostępna / nieaktualna
        </label>
        <hr>
    
        <div class="clearfix">
          <button *ngIf="foodItem.id" class="signupbtn" (click)="putFoodItem(foodItem); noneModalFi(foodGroup.id, foodItem.id);">Zapisz</button>
          <button *ngIf="!foodItem.id" class="signupbtn" (click)="addFoodItem(foodItem); noneModalFi(foodGroup.id, foodItem.id);">Dodaj</button>
          <button (click)="noneModalFi(foodGroup.id, foodItem.id);" class="cancelbtn">Anuluj</button>
        </div>
      </div>
    </form>
  </div>

<!-- FoodItem - Header
<div *ngIf="foodItem.id">
    <button class="btn" data-toggle="modal" [attr.data-target]="'#fi'+ foodItem.id"><i class="far fa-edit"></i></button>
</div>
  <div *ngIf="!foodItem.id">
    <p><button class="btn-add" data-toggle="modal" [attr.data-target]="'#fi'"><i class="fas fa-plus"></i> Dodaj nową pozycję</button></p>
  </div>

            <!-- FoodItem - Modal 
            <div class="modal fade" id="fi{{foodItem.id}}" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="itemModalLabel">{{foodItem.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="needs-validation" novalidate>
                      <div class="mb-3">
                        <label for="name">Nazwa</label>
                        <input [(ngModel)]="foodItem.name" name="name" type="text" class="form-control" id="name"
                          placeholder="Name" required>
                        <div class="invalid-feedback">
                          Nazwa jest wymagana.
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="description">Opis</label>
                        <input [(ngModel)]="foodItem.description" name="description" type="text" class="form-control"
                          id="description" placeholder="Opis dania" required>
                        <div class="invalid-feedback">
                          Wprowadź opis dania.
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5 mb-3">
                          <label for="price">Cena</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input [(ngModel)]="foodItem.price" name="price" type="number" class="form-control" id="price"
                              placeholder="12.89" required>
                            <div class="invalid-feedback">
                              Wprowadź cenę produktu.
                            </div>
                            <div class="input-group-prepend">
                              <span class="input-group-text">0.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr class="mb-4">
                      <div class="form-group">
                        <div class="form-check">
                          <input [(ngModel)]="foodItem.enabled" name="enabled" class="form-check-input" type="checkbox"
                            value="" id="enabled">
                          <label class="form-check-label" for="enabled">
                            Danie niedostępne
                          </label>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button *ngIf="foodItem.id" type="button" class="btn btn-primary" (click)="putFoodItem(foodItem, foodGroup);"
                      data-dismiss="modal">Zapisz zmiany</button>
                    <button *ngIf="!foodItem.id" type="button" class="btn btn-primary" (click)="addFoodItem(foodItem, foodGroup);"
                      data-dismiss="modal">Dodaj do bazy</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- FoodItemModal-End -->

            
          <!-- ModalNewItem 
          <div class="modal fade" id="newFoodItem" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="itemModalLabel">Dodaj nową pozycję w menu</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="needs-validation" novalidate>
                    <div class="mb-3">
                      <label for="name">Nazwa</label>
                      <input [(ngModel)]="newFoodItem.name" name="name" type="text" class="form-control" id="name"
                        placeholder="Name" required>
                      <div class="invalid-feedback">
                        Nazwa jest wymagana.
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="description">Opis</label>
                      <input [(ngModel)]="newFoodItem.description" name="description" type="text" class="form-control"
                        id="description" placeholder="Opis dania" required>
                      <div class="invalid-feedback">
                        Wprowadź opis dania.
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5 mb-3">
                        <label for="price">Cena</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input [(ngModel)]="newFoodItem.price" name="price" type="number" class="form-control" id="price"
                            placeholder="12.89" required>
                          <div class="invalid-feedback">
                            Wprowadź cenę produktu.
                          </div>
                          <div class="input-group-prepend">
                            <span class="input-group-text">0.00</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                  <button type="button" class="btn btn-primary" (click)="addFoodItem(newFoodItem, foodGroup);"
                    data-dismiss="modal">Dodaj</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ModalNewItem-End -->