.hero-text {
  background-color: rgba(0, 0, 0, 0.6);
  height: 200px;
  width: 350px;  
  margin: -70px 0 0 -195px;
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 20px;
  z-index: -1;
  overflow: auto;
  text-align: center;
  color: white;
}

.hero {
  min-height: 100%;
}