<div *ngFor="let restaurant of restaurants" class="card">
  <div class="container">
    <h2>{{restaurant.name}}</h2>
    <p>{{restaurant.description}}</p>
    <p>{{restaurant.requirement}}</p>
    <p routerLink="/restaurants/{{restaurant.id}}"><button>Szczegóły</button></p>
  </div>
</div>
<div class="card">
  <div class="container" action="action_page.php">
    <p><input type="text" id="newRestaurant" name="newRestaurant" placeholder="Nowa restauracja.."></p>
  <p><button ><i class="fas fa-plus"></i> Dodaj</button></p>
  </div>
</div>