<div id="id01" class="modal">

  <form class="modal-content" action="/action_page.php" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
    novalidate>
    <span onclick="document.getElementById('id01').style.display='none'" class="close"
      title="Close Modal">&times;</span>
    <div class="container">
      <h1 *ngIf="register">Zarejestruj</h1>
      <h1 *ngIf="!register">Zaloguj</h1>
      <hr>
      <div class="form-group frm-in">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Email" class="form-control" name="email" [(ngModel)]="model.email"
          #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">Email jest wymagany</div>
          <div *ngIf="email.errors.email">Email podany w błędnym formacie.</div>
        </div>
      </div>
      <div class="form-group frm-in">
        <label for="password"><b>Hasło</b> (min. 6 znaków)</label>
        <input type="password" placeholder="Hasło" class="form-control" name="password" [(ngModel)]="model.password"
          #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
          <div *ngIf="password.errors.required">Hasło jest wymagane</div>
          <div *ngIf="password.errors.minlength">Hasło musi posiadać min. 6 znaków</div>
        </div>
      </div>
      <div *ngIf="register" class="form-group frm-in">
        <label for="confirmPassword"><b>Powtórz hasło</b></label>
        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword"
          #confirmPassword="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && (confirmPassword.invalid || notPassMatch())}" required />
        <div *ngIf="f.submitted && (confirmPassword.invalid || notPassMatch())" class="invalid-feedback">
          <div *ngIf="confirmPassword.invalid && confirmPassword.errors.required">Pole jest wymagane</div>
          <div *ngIf="notPassMatch()">Hasło nie pasuje</div>
        </div>
      </div>
      <div class="form-group">
        <div class="clearfix">
          <button type="submit" *ngIf="register">Zarejestruj</button>
          <button type="submit" *ngIf="!register">Zaloguj</button>
        </div>
      </div>
    </div>
  </form>
</div>