<div class="navbar" id="myTopnav">

  <a [ngClass]="{'active': i===1}" (click)="i=1" routerLink="/home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a [ngClass]="{'active': i===2}" (click)="i=2" routerLink="/orderpacks/new"><i class="fab fa-elementor"></i> Zamów</a>
  <a [ngClass]="{'active': i===3}" (click)="i=3" routerLink="/restaurants"><i class="fas fa-torii-gate"></i>
    Restauracje</a>

  <div *ngIf="user()" class="navbar-right">
    <a href="#"><i class="fa fa-fw fa-user"></i> {{user()}}</a>
    <a href="javascript:void(0)"><i class="fas fa-sign-out-alt"></i> Wyloguj</a>
  </div>

  <div *ngIf="!user()" class="navbar-right">
    <a href="javascript:void(0)" (click)="register=true"
      onclick="document.getElementById('id01').style.display='block'"><i class="fas fa-file-signature"></i>
      Zarejestruj</a>
    <a href="javascript:void(0)" (click)="register=false"
      onclick="document.getElementById('id01').style.display='block'"><i class="fas fa-sign-in-alt"></i>
      Zaloguj</a>
    <app-login [register]="register"></app-login>
  </div>

  <a href="javascript:void(0);" class="icon" (click)="myTopnavClick()">
    <i class="fa fa-bars"></i>
  </a>

</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div [ngClass]="{'show': isErrorResponse}" id="snackbar">{{snacktext}}</div>

<footer class="footer">
  &copy; 2019 Damian Ptaszyński. All rights reserved
</footer>