
<div id="fg{{foodGroup.id}}" class="modal">
  <span (click)="noneModalFg(foodGroup.id);" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h3>{{foodGroup.name}}</h3>
      <hr>
      <label for="name"><b>Nazwa</b></label>
      <input [(ngModel)]="foodGroup.name" name="name" type="text" placeholder="Nazwa" class="form-control" required>
      <p>
        <input type="checkbox" [(ngModel)]="foodGroup.isMain" name="isMain" class="custom-control-input" id="isMain">
        Grupa z daniami
      </p>
      <div>Grupa z daniami, oznacza że są tu główne dania do których można dobrać dodatki.</div>
      <div *ngIf="foodGroup.isMain">
        <p>Wskaż grupy dodatków do dań:</p>
        <p *ngFor="let side of sideFoodGroups">
          <input type="checkbox" (change)="changeSide(side)" [checked]="selectedSideFoodGroups.indexOf(side.id)>-1" name="sideisMain" class="custom-control-input" id="sideisMain">
          {{side.name}}
        </p>
      </div>
      <div class="clearfix">
        <button *ngIf="foodGroup.id" class="signupbtn" (click)="putFoodGroup(foodGroup); noneModalFg(foodGroup.id);">Zapisz</button>
        <button *ngIf="!foodGroup.id" class="signupbtn" (click)="addFoodGroup(foodGroup); noneModalFg(foodGroup.id);">Dodaj</button>
        <button (click)="noneModalFg(foodGroup.id);" class="cancelbtn">Anuluj</button>
      </div>
    </div>
  </form>
</div>
