<div class="container">
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">Nazwa</label>
      </div>
      <div class="col-75">
        <input [(ngModel)]="restaurant.name" type="text" id="fname" name="name" placeholder="Your name..">
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

<div *ngIf="restaurant" class="container">
  <h4 class="mb-3">{{restaurant.name}}</h4>
  <button class="btn btn-secondary" routerLink="/restaurants/{{restaurant.id}}/menu">Menu</button>
  <form (ngSubmit)="onSubmit()" class="needs-validation">
    <div class="mb-3">
      <label for="name">Nazwa</label>
      <input [(ngModel)]="restaurant.name" name="name" type="text" class="form-control" id="name" placeholder="Name"
        required>
      <div class="invalid-feedback">
        Nazwa jest wymagana.
      </div>
    </div>
    <div class="mb-3">
      <label for="contact">Kontakt</label>
      <input [(ngModel)]="restaurant.contact" name="contact" type="text" class="form-control" id="contact"
        placeholder="700 800 900" required>
      <div class="invalid-feedback">
        Wprowadź kontakt, np. telefon.
      </div>
    </div>
    <div class="mb-3">
      <label for="description">Opis</label>
      <input [(ngModel)]="restaurant.description" name="description" type="text" class="form-control" id="description"
        placeholder="Kuchnia polska" required>
      <div class="invalid-feedback">
        Wprowadź opis restauracji.
      </div>
    </div>
    <div class="mb-3">
      <label for="requirement">Wymagania</label>
      <input [(ngModel)]="restaurant.requirement" name="requirement" type="text" class="form-control" id="requirement"
        placeholder="od 25 zł" required>
      <div class="invalid-feedback">
        Wprowadź wymagania do zrealizowania zamówienia.
      </div>
    </div>
    <hr class="mb-4">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" [(ngModel)]="restaurant.enabled" name="enabled" class="custom-control-input" id="enabled">
      <label class="custom-control-label" for="enabled">Restauracja nieczynna / niedostępna</label>
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Zapisz zmiany</button>
  </form>
</div>