<div class="container">
  <form action="/action_page.php">
    <div class="row">
      <h1>{{restaurant.name}}</h1>

      <div class="col-25">
        <label for="name">Nazwa</label>
      </div>
      <div class="col-75">
        <input [(ngModel)]="restaurant.name" name="name" type="text" id="name" placeholder="Nazwa restauracji..">
      </div>

      <div class="col-25">
        <label for="url">WWW</label>
      </div>
      <div class="col-75">
        <input [(ngModel)]="restaurant.url" type="text" id="url" name="url" placeholder="WWW..">
      </div>

      <div class="col-25">
        <label for="contact">Kontakt</label>
      </div>
      <div class="col-75">
        <input [(ngModel)]="restaurant.contact" type="text" id="contact" name="contact" placeholder="Kontakt..">
      </div>

      <div class="col-25">
        <label for="description">Opis</label>
      </div>
      <div class="col-75">
        <input [(ngModel)]="restaurant.description" type="text" id="description" name="description" placeholder="Opis restauracji..">
      </div>

      <div class="col-25">
        <label for="requirement">Wymagania do zamówienia</label>
      </div>
      <div class="col-75">
        <input [(ngModel)]="restaurant.requirement" type="text" id="requirement" name="requirement" placeholder="Wymagania zamówienia..">
      </div>
    </div>
    <hr>
    <label>
      <input type="checkbox" [(ngModel)]="restaurant.enabled" name="enabled" class="custom-control-input" id="enabled">
      Restauracja nieczynna / niedostępna
    </label>
    <hr>
    <div class="clearfix">
      <button class="cancelbtn" (click)="back()">Anuluj</button>
      <button class="menubtn" routerLink="/restaurants/{{restaurant.id}}/menu">Menu</button>
      <button class="savebtn" (click)="onSubmit()">Zapisz</button>
    </div>
  </form>
</div>