<div class="container">
  <h1>Menu</h1>
  <hr>
  <!-- FoodGroup -->
  <div *ngFor="let foodGroup of foodGroups">
    <div>
      <h3>{{foodGroup.name}}<button class="btn" (click)="blockModal(foodGroup.id);"><i class="far fa-edit"></i></button></h3>
      <app-food-group [foodGroup]="foodGroup"></app-food-group>
      <!-- FoodItems -->
      <table *ngIf="foodGroup.id" class="table">
        <tbody>
          <tr *ngFor="let foodItem of foodGroup.foodItems">
            <td *ngIf="foodItem.id">{{foodItem.name}}</td>
            <td *ngIf="foodItem.id">{{foodItem.description}}</td>
            <td *ngIf="foodItem.id">{{foodItem.price}}</td>
            <td *ngIf="foodItem.id">
              <button class="btn" (click)="blockModal(foodGroup.id, 'fi', foodItem.id);"><i class="far fa-edit"></i></button>
              <app-food-item [foodItem]="foodItem" [foodGroup]="foodGroup"></app-food-item>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- FoodItems-End -->
      <button class="btn-add" (click)="blockModal(foodGroup.id, 'fi');"><i class="fas fa-plus"></i> Dodaj nową pozycję</button>
      <app-food-item [foodItem]="newFoodItem" [foodGroup]="foodGroup"></app-food-item>
    </div>
    <hr>
  </div>
  <!-- FoodGroup-End -->
  <p><button class="btn-add btn-gr" (click)="blockModal('','','');"><i class="fas fa-plus"></i> Dodaj nową grupę</button></p>
  <app-food-group [foodGroup]="newFoodGroup"></app-food-group>
</div>
